html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

.wrapper {
    margin: 0 auto;
    padding: 30px 0 0 0 ;
    width: 1120px;
    height: auto;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}
.form__input {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
}
.form__button-inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width:  auto;
}
.form__button {
    margin: 20px 5px 0 5px;

}

.lines__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;


}

.line__inner {
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*!*display: inline-block;*!*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*!*width: auto;*!*/
    display: block;

}
.line {
    position: absolute;
    left: 0;
    transition: left 0.6s;
    border: 1px solid yellow;
    background-color: dodgerblue;
    height: 150px;
    width: 20px;
    color: white;
    font-size: 90%;
    margin: 15px;
    text-align: center;


}

/*.move_left {*/
    /*position: relative;*/
    /*right: 0;*/
    /*animation-name: test1;*/
    /*animation-fill-mode: forwards;*/
    /*animation-duration: 2s;*/

/*}*/

/*.move_right {*/
    /*position: relative;*/
    /*left: 0;*/
    /*animation-name: test2;*/
    /*animation-fill-mode: forwards;*/

    /*animation-duration: 2s;*/
/*}*/

/*@keyframes test1 {*/
    /*from {*/

        /*right: 0;*/
        /*transition: right 0.5s cubic-bezier(0, 0, 1, 1);*/
    /*}*/
    /*to {*/


        /*right: 60px;*/
        /*transition: right 0.5s cubic-bezier(0, 0, 1, 1);*/
    /*}*/

/*}*/

/*@keyframes test2 {*/
    /*from {*/

        /*left: 0;*/
        /*transition: left 0.5s cubic-bezier(0, 0, 1, 1);*/
    /*}*/
    /*to {*/

        /*left: 60px;*/
        /*transition: left 0.5s cubic-bezier(0, 0, 1, 1);*/
    /*}*/
/*}*/
